<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<!-- Test of routes -->
<ion-view view-title="Test">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-avatar">
        <img src="img/ionic.png" alt="ionic avatar">
        <h2>Bienvenu</h2>
      </div>

      <div class="item item-body">
        <h4>Hello {{name}}</h4>
        <input ng-model="name" type="text" placeholder="Add a name">
      </div>
    </div>

    <!-- Test of popup service -->
    <div class="button-bar">
      <button class="button button-small button-dark" ng-click="showPopup()">Pop-up personnalisé</button>
      <button class="button button-small button-primary" ng-click="showConfirm()">Confirmation</button>
      <button class="button button-small button-positive" ng-click="showAlert()">Alerte</button>
    </div>

    <!-- Test of platform version-->
    <div class="card">
      <div class="item item-divider">
        Informations Ionic
      </div>
      <div class="item item-text-wrap">
        <p>
          Plateforme: {{info.platform}}
        </p>
        <p>
          Version: {{info.version}}
        </p>
      </div>
      <div class="item item-divider">

      </div>
    </div>


  </ion-content>
</ion-view>

</body>
</html>
